.bp__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 15px;
}

.import_btn {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button.bp__upload__btn {
  height: 30px;
  border-radius: 25px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  background-color: #fff;
  border: 2px solid #fa5890;
  color: #fa5890;
}

button.bp__upload__btn:focus {
  outline: 0;
}

button.bp__upload__btn:disabled,
button.bp__upload__btn[disabled] {
  background-color: #d3d3d3;
}

.bp__file__import label {
  display: block;
  position: relative;
  width: 200px;
  height: 30px;
  border-radius: 25px;
  background-color: #ee6588;
  background-image: linear-gradient(90deg, #829bf5, #6083f7);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease-out;
  font-size: 15px;
  margin-right: 23px;
}
.bp__file__import label .bp__import_icon {
  margin: 8px;
}

.bp__file__import label:focus {
  outline: 0;
}

input.import_btn:hover + label,
input.import_btn:focus + label {
  transform: scale(1.02);
}

input.import_btn:focus + label {
  outline: 1px solid #000;
  outline: -webkit-focus-ring-color auto 2px;
}

hr.bp__line {
  border: 1px solid #39346a;
  width: 90%;
  margin-bottom: 18px;
}

.bp__error__message {
  margin: 0;
  padding: 10px;
  color: #39346a;
}

select#bp__select {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: menulist;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  cursor: default;
  margin: 0em;
  font: 400 13.3333px Arial;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #39346a;
  border-image: initial;
  background-color: #fff;
  color: #39346a;
}

select#bp__select:disabled {
  opacity: 0.7;
  border-color: rgba(118, 118, 118, 0.3);
}
