.bp__wrapper {
  position: relative;
  display: flex;
  min-width: 100px;
  width: 80%;
  margin: 10px auto;
}
.bp__search__icon {
  position: absolute;
  color: #fa5890;
  top: 6px;
  left: 8px;
  width: 14px;
}
.bp__search {
  border: 1px solid #39346a;
  border-radius: 5px;
  height: 24px !important;
  width: 100%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: #f5f5f5;
  color: #39346a;
}
.bp__search:hover,
.bp__search:focus {
  border: 1.5px solid #fa5890;
  background-color: white;
}
