button.cb_btn {
  color: #39346a;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 10px 8px;
  border: 2px solid #39346a;
  display: inline-block;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

button.cb_btn:hover {
  opacity: 0.8;
}

button.cb_btn.cb_btn_current_select {
  background-color: #f5c05a;
  color: #ffffff;
}

button.cb_btn.cb_btn_selected {
  background-color: #e96343;
  color: #ffffff;
}
