#auto-fill-draggable-div {
  position: fixed;
  z-index: 1000;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  top: 30px;
  right: 40px;
  width: 356px;
}

#auto-fill-draggable-div-header {
  font-weight: bold;
  /* padding: 10px 10px 10px 40px; */
  cursor: move;
  z-index: 1001;
  background-image: linear-gradient(90deg, #829bf5, #6083f7);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#auto-fill-draggable-div-header .bp__menu {
  width: 22px;
  height: 38px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
  cursor: pointer;
  /* position: absolute;
  left: 11px;
  top: 5px; */
}

#auto-fill-draggable-div-header p {
  padding: 0px;
}

#auto-fill-draggable-div-header .bp__menu div {
  width: 100%;
  height: 3px;
  background-color: white;
}

.bp__dropdown__content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 92px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  border-radius: 4px;
  top: 35px;
  left: 16px;
}

.bp__dropdown__content:hover a {
  color: #39346a;
  cursor: pointer;
}

.bp__dropdown__content__show {
  display: block;
}

.bp__dropdown__content a {
  color: #8882be;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease-in-out;
}

.close_cb_x {
  vertical-align: middle;
  border: none;
  color: inherit;
  border-radius: 50%;
  background: transparent;
  position: relative;
  width: 32px;
  height: 32px;
  opacity: 0.6;
  transition: all 0.3s ease-out;
}
.close_cb_x.exit {
  right: -10px;
}
.close_cb_x:focus,
.close_cb_x:hover {
  opacity: 1;
  background: rgba(128, 128, 128, 0.5);
}
.close_cb_x:active {
  background: rgba(128, 128, 128, 0.9);
}
/* tines of the X */
.close_cb_x::before,
.close_cb_x::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 13px;
  width: 4px;
  background-color: currentColor;
}
.close_cb_x::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.close_cb_x::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

#bp-root-app {
  background-color: #fff;
}
