* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.wrap-login100 {
  width: 234px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  width: 80%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-text {
  display: block;
  margin-top: 0.25rem;
}

.text-danger {
  color: #dc3545 !important;
}

.img-fluid {
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.login100-form {
  width: 100%;
}

.login100-form-title {
  display: block;
  font-family: SourceSansPro-Bold;
  font-size: 17px;
  color: #4b2354;
  line-height: 1.2;
  text-align: center;
}

.form-title {
  font-size: 26px;
}

.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 104px;
  height: 30px;
  background-color: #bd59d4;
  border-radius: 25px;
  font-family: SourceSansPro-SemiBold;
  font-size: 14px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.4);
  -moz-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.4);
  -webkit-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.4);
  -o-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.4);
  -ms-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.4);
}

.login100-form-btn:hover {
  background-color: #4b2354;
  box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  -moz-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  -webkit-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  -o-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  -ms-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: 0;
}
