/* button.cb-option_btn {
  height: 30px;
  border-radius: 25px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ee7191;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #ee7191;
} */

button.cb_option_btn {
  position: relative;
  background-color: #fa5890;
  border: 2px solid #fff;
  color: #fff;
  font-size: 13px;
  padding: 8px;
  width: 54px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
}

button.cb_option_btn + button.cb_option_btn {
  margin-left: 4px;
}

button.cb_option_btn:hover {
  opacity: 0.8;
}

button.cb_option_btn.control {
  width: 79px;
  background-color: #fff;
  border: 2px solid #fa5890;
  color: #fa5890;
  font-weight: bold;
}

button.cb_option_btn:focus {
  outline: 0;
}
