#bp__box {
  max-width: 98%;
  height: 300px;
  margin: auto;
  overflow: auto;
}

#bp__box > table {
  width: 100%;
}

#bp__box > table th {
  color: white;
  background: #6384f8;
  position: sticky;
  top: 0;
  width: 50%;
  z-index: 100;
  text-align: center;
}
